{
  "name": "bingzer.com",
  "version": "1.0.0",
  "engines": {
    "node": "6.11.1"
  },
  "description": "",
  "repository": {
    "type": "git",
    "url": "https://bingzer.visualstudio.com/DefaultCollection/_git/bingzer"
  },
  "scripts": {
  },
  "license": "UNLICENSED",
  "dependencies": {
  }
}